.tf-colored{
	font-size: inherit!important;
	font-family: inherit!important;
	font-weight: inherit!important;
	font-style: inherit!important;
	border: inherit!important;
	display: inherit!important;
}